@import "tailwindcss";
:root {
  --background: #ffebe6;
  --foreground: #b02b03;
  --top-color: #b02b03;
  --head-text: #510200;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-monterserrat);

  --color-topcolor: var(--top-color);
  --color-headcolor: var(--head-text);
  --color-darkbrown: #510200;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-monterserrat), Arial, Helvetica, sans-serif;
}
